<div>
  <div class="firstrow">


    <!-- <div> -->
    <img class="profile" src="../../assets/sai teja.jpeg" />
    <!-- </div> -->

    <div class="details">

      <p>Name : Kolluru Sai Teja</p>
      <p>DOB : 15-08-1996, 2AM</p>
      <p>Gothram : Vetalla</p>
      <p>Raasi : Simham</p>
      <p>Nakshatram : Magha</p>
      <p>Education : Engineering (2018 in KSRMCE)</p>
      <p>Height : 5'10</p>
      <p>Work : Software Engineer at Themathcompany (full stack developer)</p>
    </div>

  </div>

</div>